* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s all ease-in-out;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}
a {
    cursor: pointer;
    color:black;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    object-fit: cover;
}
img:hover {
    transform: scale(1.07);
}
#preloader {
    background: black url('../images/299.gif') no-repeat center center;
    background-size: 10% auto;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999999;
    transition: opacity 0.8s ease-in-out, transform 0.6s ease-in-out;
}
body {
    background: url('../images/Khu_di_tích_chiến_thắng_Gạch_Gầm_Xoài_Mút.jpg') no-repeat center fixed;
    background-size: cover;  
    height: 100%;
    width: auto;
    height: 100vh; 

}
.container {
    padding: 20px;
}
.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.elementsHeaderMain {
    background-color: rgb(243, 97, 97);
    padding: 15px 15px;
    border-radius: 15px;
    font-size: 23px;
}
.elementsHeaderMain:hover {
    transform: translateY(-10px);
}
.logoWrapper:hover {
    transform: scale(1.05);
}
#introductionWar:hover {
    transform: scale(1.06);
}